@model MyFirstAppWeb.Models.Venda

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venda</h4>
<hr />

<table>
  <thead>
    <tr>
        <th>Vendedor</th>
        <th>Cliente</th>
    </tr>
   </thead>
   <tbody>
      <td><input type="text" name="Vendedor[]" /></td>
      <td><input type="text" name="Cliente[]" /></td>
   </tbody>
   <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Preço Unitário</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" name="produto[]" /></td>
      <td><input type="number" name="quantidade[]" /></td>
      <td><input type="number" name="preco[]" /></td>
      <td></td>
    </tr>
    <!-- Adicione quantas linhas forem necessárias -->
  </tbody>
</table>

<a asp-action="AddItemVenda">Adicionar Item</a>

<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


